Repository AndreRH/hangover: changes, and which GitLab CI jobs are due for each by the changed paths.
All: debian11_foundation, debian12_foundation

Path conditions:
  debian11_foundation: any of: .packaging/debian11/Dockerfile
  debian12_foundation: any of: .packaging/debian12/Dockerfile

.packaging: Update llvm-mingw to 20250613 (except for Debian 11 and Ubuntu 20.04)
  .packaging/debian12/Dockerfile
  .packaging/debian12/wine/Dockerfile
  .packaging/debian12/wine/debian/rules
  .packaging/debian13/Dockerfile
  .packaging/debian13/wine/Dockerfile
  .packaging/debian13/wine/debian/rules
  .packaging/ubuntu2204/Dockerfile
  .packaging/ubuntu2204/boxpe/Dockerfile
  .packaging/ubuntu2204/wine/Dockerfile
  .packaging/ubuntu2204/wine/debian/rules
  .packaging/ubuntu2404/Dockerfile
  .packaging/ubuntu2404/wine/Dockerfile
  .packaging/ubuntu2404/wine/debian/rules
  .packaging/ubuntu2504/Dockerfile
  .packaging/ubuntu2504/wine/Dockerfile
  .packaging/ubuntu2504/wine/debian/rules
Due: debian12_foundation

.packaging: Don't depend on osmesa anymore
  .packaging/debian11/Dockerfile
  .packaging/debian11/wine/debian/control
  .packaging/debian12/Dockerfile
  .packaging/debian12/wine/debian/control
  .packaging/debian13/Dockerfile
  .packaging/debian13/wine/debian/control
  .packaging/ubuntu2004/Dockerfile
  .packaging/ubuntu2004/wine/debian/control
  .packaging/ubuntu2204/Dockerfile
  .packaging/ubuntu2204/wine/debian/control
  .packaging/ubuntu2404/Dockerfile
  .packaging/ubuntu2404/wine/debian/control
  .packaging/ubuntu2504/Dockerfile
  .packaging/ubuntu2504/wine/debian/control
Due: debian11_foundation, debian12_foundation

qemu: Remove Qemu
  .github/workflows/deb.yml
  .gitmodules
  .packaging/debian11/qemu/DEBIAN/control
  .packaging/debian11/qemu/DEBIAN/copyright
  .packaging/debian11/qemu/DEBIAN/triggers
  .packaging/debian11/qemu/Dockerfile
  .packaging/debian12/qemu/DEBIAN/control
  .packaging/debian12/qemu/DEBIAN/copyright
  .packaging/debian12/qemu/DEBIAN/triggers
  .packaging/debian12/qemu/Dockerfile
  .packaging/debian13/qemu/DEBIAN/control
  .packaging/debian13/qemu/DEBIAN/copyright
  .packaging/debian13/qemu/DEBIAN/triggers
  .packaging/debian13/qemu/Dockerfile
  .packaging/ubuntu2004/qemu/DEBIAN/control
  .packaging/ubuntu2004/qemu/DEBIAN/copyright
  .packaging/ubuntu2004/qemu/DEBIAN/triggers
  .packaging/ubuntu2004/qemu/Dockerfile
  .packaging/ubuntu2204/qemu/DEBIAN/control
  .packaging/ubuntu2204/qemu/DEBIAN/copyright
  .packaging/ubuntu2204/qemu/DEBIAN/triggers
  .packaging/ubuntu2204/qemu/Dockerfile
  .packaging/ubuntu2404/qemu/DEBIAN/control
  .packaging/ubuntu2404/qemu/DEBIAN/copyright
  .packaging/ubuntu2404/qemu/DEBIAN/triggers
  .packaging/ubuntu2404/qemu/Dockerfile
  .packaging/ubuntu2504/qemu/DEBIAN/control
  .packaging/ubuntu2504/qemu/DEBIAN/copyright
  .packaging/ubuntu2504/qemu/DEBIAN/triggers
  .packaging/ubuntu2504/qemu/Dockerfile
  README.md
  docs/COMPILE.md
Due: none

clang
  .packaging/debian11/wine/debian/rules
  .packaging/debian12/wine/debian/rules
  .packaging/debian13/wine/debian/rules
  .packaging/ubuntu2004/wine/debian/rules
  .packaging/ubuntu2204/wine/debian/rules
  .packaging/ubuntu2404/wine/debian/rules
  .packaging/ubuntu2504/wine/debian/rules
Due: none

docs/COMPILE.md: Correct mentioned FEX for 64-bit build target
  docs/COMPILE.md
Due: none

docs/COMPILE.md: Don't mention ARM32 anymore
  docs/COMPILE.md
Due: none

docs/COMPILE.md: Don't mention a x86-64 build anymore
  docs/COMPILE.md
Due: none

docs/COMPILE.md: Add a hint on cross-compilation
  docs/COMPILE.md
Due: none

docs/COMPILE.md: Spell fix
  docs/COMPILE.md
Due: none

docs/COMPILE.md: Place libraries in the right folder
  docs/COMPILE.md
Due: none

.github: Update issue template
  .github/ISSUE_TEMPLATE/issue.yml
  .github/issue_template.md
Due: none

.github: Ignore issue templates in the workflow
  .github/workflows/deb.yml
Due: none

buildonarm
  .github/workflows/deb.yml
  .packaging/debian11/Dockerfile
  .packaging/debian11/wine/Dockerfile
  .packaging/debian11/wine/debian/rules
  .packaging/debian12/Dockerfile
  .packaging/debian12/wine/Dockerfile
  .packaging/debian12/wine/debian/rules
  .packaging/debian13/Dockerfile
  .packaging/debian13/wine/Dockerfile
  .packaging/debian13/wine/debian/rules
  .packaging/ubuntu2004/Dockerfile
  .packaging/ubuntu2004/wine/Dockerfile
  .packaging/ubuntu2004/wine/debian/rules
  .packaging/ubuntu2204/Dockerfile
  .packaging/ubuntu2204/boxpe/Dockerfile
  .packaging/ubuntu2204/dxvk/Dockerfile
  .packaging/ubuntu2204/fexpe/Dockerfile
  .packaging/ubuntu2204/fexpeec/Dockerfile
  .packaging/ubuntu2204/wine/Dockerfile
  .packaging/ubuntu2204/wine/debian/rules
  .packaging/ubuntu2404/Dockerfile
  .packaging/ubuntu2404/wine/Dockerfile
  .packaging/ubuntu2404/wine/debian/rules
  .packaging/ubuntu2504/Dockerfile
  .packaging/ubuntu2504/wine/Dockerfile
  .packaging/ubuntu2504/wine/debian/rules
Due: debian11_foundation, debian12_foundation

fex: Rebase to 2508.1
  .packaging/ubuntu2204/fexpe/Dockerfile
  .packaging/ubuntu2204/fexpeec/Dockerfile
  docs/COMPILE.md
Due: none

Update README.md
  README.md
Due: none

fex: Rebase to 2510
  .packaging/debian11/Dockerfile
  .packaging/debian12/Dockerfile
  .packaging/debian13/Dockerfile
  .packaging/ubuntu2004/Dockerfile
  .packaging/ubuntu2204/Dockerfile
  .packaging/ubuntu2404/Dockerfile
  .packaging/ubuntu2504/Dockerfile
Due: debian11_foundation, debian12_foundation

.packaging: Update llvm-mingw to 20251021 (except for Debian 11 and Ubuntu 20.04)
  .packaging/debian12/Dockerfile
  .packaging/debian12/wine/Dockerfile
  .packaging/debian12/wine/debian/rules
  .packaging/debian13/Dockerfile
  .packaging/debian13/wine/Dockerfile
  .packaging/debian13/wine/debian/rules
  .packaging/ubuntu2204/Dockerfile
  .packaging/ubuntu2204/boxpe/Dockerfile
  .packaging/ubuntu2204/wine/Dockerfile
  .packaging/ubuntu2204/wine/debian/rules
  .packaging/ubuntu2404/Dockerfile
  .packaging/ubuntu2404/wine/Dockerfile
  .packaging/ubuntu2404/wine/debian/rules
  .packaging/ubuntu2504/Dockerfile
  .packaging/ubuntu2504/wine/Dockerfile
  .packaging/ubuntu2504/wine/debian/rules
Due: debian12_foundation

.packaging: Avoid problems with autoreconf
  .packaging/debian11/wine/debian/rules
  .packaging/debian12/wine/debian/rules
  .packaging/debian13/wine/debian/rules
  .packaging/ubuntu2004/wine/debian/rules
  .packaging/ubuntu2204/wine/debian/rules
  .packaging/ubuntu2404/wine/debian/rules
  .packaging/ubuntu2504/wine/debian/rules
Due: none

.packaging: Update llvm-mingw to 20251202 (except for Debian 11 and Ubuntu 20.04)
  .packaging/debian12/Dockerfile
  .packaging/debian12/wine/Dockerfile
  .packaging/debian12/wine/debian/rules
  .packaging/debian13/Dockerfile
  .packaging/debian13/wine/Dockerfile
  .packaging/debian13/wine/debian/rules
  .packaging/ubuntu2204/Dockerfile
  .packaging/ubuntu2204/boxpe/Dockerfile
  .packaging/ubuntu2204/wine/Dockerfile
  .packaging/ubuntu2204/wine/debian/rules
  .packaging/ubuntu2404/Dockerfile
  .packaging/ubuntu2404/wine/Dockerfile
  .packaging/ubuntu2404/wine/debian/rules
  .packaging/ubuntu2504/Dockerfile
  .packaging/ubuntu2504/wine/Dockerfile
  .packaging/ubuntu2504/wine/debian/rules
Due: debian12_foundation
