Repository AndreRH/hangover: changes, and which GitLab CI jobs are due for each by the changed paths.
All: debian11_foundation, debian12_foundation

Path conditions:
  debian11_foundation: any of: .packaging/debian11/Dockerfile
  debian12_foundation: any of: .packaging/debian12/Dockerfile

README.md: Mention Pi-Apps
  README.md
Due: none

README.md: Update
  README.md
Due: none

speedup
  .packaging/debian11/Dockerfile
  .packaging/debian12/Dockerfile
  .packaging/debian13/Dockerfile
  .packaging/ubuntu2004/Dockerfile
  .packaging/ubuntu2204/Dockerfile
  .packaging/ubuntu2404/Dockerfile
  .packaging/ubuntu2410/Dockerfile
Due: debian11_foundation, debian12_foundation

.github: Add workflow to build packages for Ubuntu 25.04
  .github/workflows/deb.yml
  .packaging/ubuntu2504/Dockerfile
  .packaging/ubuntu2504/qemu/DEBIAN/control
  .packaging/ubuntu2504/qemu/DEBIAN/copyright
  .packaging/ubuntu2504/qemu/DEBIAN/triggers
  .packaging/ubuntu2504/qemu/Dockerfile
  .packaging/ubuntu2504/wine/Dockerfile
  .packaging/ubuntu2504/wine/debian/changelog
  .packaging/ubuntu2504/wine/debian/compat
  .packaging/ubuntu2504/wine/debian/control
  .packaging/ubuntu2504/wine/debian/copyright
  .packaging/ubuntu2504/wine/debian/rules
  .packaging/ubuntu2504/wine/debian/source/format
Due: none

wine: Rebase to 10.2
  .packaging/debian11/wine/debian/rules
  .packaging/debian12/wine/debian/rules
  .packaging/debian13/wine/debian/rules
  .packaging/ubuntu2004/wine/debian/rules
  .packaging/ubuntu2204/wine/debian/rules
  .packaging/ubuntu2404/wine/debian/rules
  .packaging/ubuntu2410/wine/debian/rules
  .packaging/ubuntu2504/wine/debian/rules
Due: none

.packaging: Fix FEX build
  .packaging/ubuntu2204/fexpe/Dockerfile
  .packaging/ubuntu2204/fexpeec/Dockerfile
Due: none

.packaging: Use original llvm-mingw for Wine again
  .packaging/debian11/Dockerfile
  .packaging/debian11/wine/Dockerfile
  .packaging/debian11/wine/debian/rules
  .packaging/debian12/Dockerfile
  .packaging/debian12/wine/Dockerfile
  .packaging/debian12/wine/debian/rules
  .packaging/debian13/Dockerfile
  .packaging/debian13/wine/Dockerfile
  .packaging/debian13/wine/debian/rules
  .packaging/ubuntu2004/Dockerfile
  .packaging/ubuntu2004/wine/Dockerfile
  .packaging/ubuntu2004/wine/debian/rules
  .packaging/ubuntu2204/Dockerfile
  .packaging/ubuntu2204/wine/Dockerfile
  .packaging/ubuntu2204/wine/debian/rules
  .packaging/ubuntu2404/Dockerfile
  .packaging/ubuntu2404/wine/Dockerfile
  .packaging/ubuntu2404/wine/debian/rules
  .packaging/ubuntu2410/Dockerfile
  .packaging/ubuntu2410/wine/Dockerfile
  .packaging/ubuntu2410/wine/debian/rules
  .packaging/ubuntu2504/Dockerfile
  .packaging/ubuntu2504/wine/Dockerfile
  .packaging/ubuntu2504/wine/debian/rules
  docs/COMPILE.md
Due: debian11_foundation, debian12_foundation

.packaging: Update llvm-mingw to 20250417 except for Debian 11 and Ubuntu 20.04
  .packaging/debian11/Dockerfile
  .packaging/debian11/wine/Dockerfile
  .packaging/debian11/wine/debian/rules
  .packaging/debian12/Dockerfile
  .packaging/debian12/wine/Dockerfile
  .packaging/debian12/wine/debian/rules
  .packaging/debian13/Dockerfile
  .packaging/debian13/wine/Dockerfile
  .packaging/debian13/wine/debian/rules
  .packaging/ubuntu2004/Dockerfile
  .packaging/ubuntu2004/wine/Dockerfile
  .packaging/ubuntu2004/wine/debian/rules
  .packaging/ubuntu2204/Dockerfile
  .packaging/ubuntu2204/wine/Dockerfile
  .packaging/ubuntu2204/wine/debian/rules
  .packaging/ubuntu2404/Dockerfile
  .packaging/ubuntu2404/wine/Dockerfile
  .packaging/ubuntu2404/wine/debian/rules
  .packaging/ubuntu2410/Dockerfile
  .packaging/ubuntu2410/wine/Dockerfile
  .packaging/ubuntu2410/wine/debian/rules
  .packaging/ubuntu2504/Dockerfile
  .packaging/ubuntu2504/wine/Dockerfile
  .packaging/ubuntu2504/wine/debian/rules
Due: debian11_foundation, debian12_foundation

.github: Remove Ubuntu 24.10 build
  .github/workflows/deb.yml
  .packaging/ubuntu2410/Dockerfile
  .packaging/ubuntu2410/qemu/DEBIAN/control
  .packaging/ubuntu2410/qemu/DEBIAN/copyright
  .packaging/ubuntu2410/qemu/DEBIAN/triggers
  .packaging/ubuntu2410/qemu/Dockerfile
  .packaging/ubuntu2410/wine/Dockerfile
  .packaging/ubuntu2410/wine/debian/changelog
  .packaging/ubuntu2410/wine/debian/compat
  .packaging/ubuntu2410/wine/debian/control
  .packaging/ubuntu2410/wine/debian/copyright
  .packaging/ubuntu2410/wine/debian/rules
  .packaging/ubuntu2410/wine/debian/source/format
  README.md
Due: none

.packaging: Update llvm-mingw to 20250528 (except for Debian 11 and Ubuntu 20.04)
  .packaging/debian12/Dockerfile
  .packaging/debian12/wine/Dockerfile
  .packaging/debian12/wine/debian/rules
  .packaging/debian13/Dockerfile
  .packaging/debian13/wine/Dockerfile
  .packaging/debian13/wine/debian/rules
  .packaging/ubuntu2204/Dockerfile
  .packaging/ubuntu2204/wine/Dockerfile
  .packaging/ubuntu2204/wine/debian/rules
  .packaging/ubuntu2404/Dockerfile
  .packaging/ubuntu2404/wine/Dockerfile
  .packaging/ubuntu2404/wine/debian/rules
  .packaging/ubuntu2504/Dockerfile
  .packaging/ubuntu2504/wine/Dockerfile
  .packaging/ubuntu2504/wine/debian/rules
Due: debian12_foundation

box64: Build libwowbox64.dll
  .github/workflows/deb.yml
  .gitmodules
  .packaging/ubuntu2204/boxpe/DEBIAN/control
  .packaging/ubuntu2204/boxpe/DEBIAN/triggers
  .packaging/ubuntu2204/boxpe/Dockerfile
  README.md
  docs/COMPILE.md
Due: none

.github: Add a dll-only package
  .github/workflows/deb.yml
Due: none

docs/COMPILE:fix wrong build target for wowbox64
  docs/COMPILE.md
Due: none

docs/COMPILE.md: Make sure ARM_DYNAREC is enabled for wowbox64
  docs/COMPILE.md
Due: none

.packaging: Depend on hangover-wowbox64 since box64cpu is gone
  .packaging/debian11/wine/debian/control
  .packaging/debian12/wine/debian/control
  .packaging/debian13/wine/debian/control
  .packaging/ubuntu2004/wine/debian/control
  .packaging/ubuntu2204/wine/debian/control
  .packaging/ubuntu2404/wine/debian/control
  .packaging/ubuntu2504/wine/debian/control
Due: none

README.md: Update
  README.md
  docs/COMPILE.md
Due: none

.packaging: Update llvm-mingw to 20250613 (except for Debian 11 and Ubuntu 20.04)
  .packaging/debian12/Dockerfile
  .packaging/debian12/wine/Dockerfile
  .packaging/debian12/wine/debian/rules
  .packaging/debian13/Dockerfile
  .packaging/debian13/wine/Dockerfile
  .packaging/debian13/wine/debian/rules
  .packaging/ubuntu2204/Dockerfile
  .packaging/ubuntu2204/boxpe/Dockerfile
  .packaging/ubuntu2204/wine/Dockerfile
  .packaging/ubuntu2204/wine/debian/rules
  .packaging/ubuntu2404/Dockerfile
  .packaging/ubuntu2404/wine/Dockerfile
  .packaging/ubuntu2404/wine/debian/rules
  .packaging/ubuntu2504/Dockerfile
  .packaging/ubuntu2504/wine/Dockerfile
  .packaging/ubuntu2504/wine/debian/rules
Due: debian12_foundation

box64: Bump to current git
  .github/workflows/deb.yml
  .packaging/ubuntu2204/boxpe/Dockerfile
Due: none

maybe
  .github/workflows/deb.yml
  .packaging/ubuntu2204/boxpe/Dockerfile
Due: none

box64: Bump to current git
  .github/workflows/deb.yml
Due: none
