Repository AndreRH/hangover: changes, and which GitLab CI jobs are due for each by the changed paths.
All: debian11_foundation, debian12_foundation

Path conditions:
  debian11_foundation: any of: .packaging/debian11/Dockerfile
  debian12_foundation: any of: .packaging/debian12/Dockerfile

.github: Ask for the page size in the issue template
  .github/issue_template.md
Due: none

.packaging: Update llvm-mingw to 20240917
  .packaging/debian11/Dockerfile
  .packaging/debian11/wine/Dockerfile
  .packaging/debian11/wine/debian/rules
  .packaging/debian12/Dockerfile
  .packaging/debian12/wine/Dockerfile
  .packaging/debian12/wine/debian/rules
  .packaging/ubuntu2204/Dockerfile
  .packaging/ubuntu2204/fexpe/Dockerfile
  .packaging/ubuntu2204/wine/Dockerfile
  .packaging/ubuntu2204/wine/debian/rules
  .packaging/ubuntu2404/Dockerfile
  .packaging/ubuntu2404/wine/Dockerfile
  .packaging/ubuntu2404/wine/debian/rules
  .packaging/ubuntu2410/Dockerfile
  .packaging/ubuntu2410/wine/Dockerfile
  .packaging/ubuntu2410/wine/debian/rules
Due: debian11_foundation, debian12_foundation

.packaging: Update llvm-mingw to 20241001
  .packaging/debian11/Dockerfile
  .packaging/debian11/wine/Dockerfile
  .packaging/debian11/wine/debian/rules
  .packaging/debian12/Dockerfile
  .packaging/debian12/wine/Dockerfile
  .packaging/debian12/wine/debian/rules
  .packaging/ubuntu2204/Dockerfile
  .packaging/ubuntu2204/fexpe/Dockerfile
  .packaging/ubuntu2204/wine/Dockerfile
  .packaging/ubuntu2204/wine/debian/rules
  .packaging/ubuntu2404/Dockerfile
  .packaging/ubuntu2404/wine/Dockerfile
  .packaging/ubuntu2404/wine/debian/rules
  .packaging/ubuntu2410/Dockerfile
  .packaging/ubuntu2410/wine/Dockerfile
  .packaging/ubuntu2410/wine/debian/rules
Due: debian11_foundation, debian12_foundation

.packaging: Build libwow64fex with bylaws-llvm-mingw 20240929
  .github/workflows/deb.yml
  .packaging/ubuntu2204/fexpe/Dockerfile
Due: none

README.md: Refine the status section
  README.md
Due: none

README.md: FEX-2410 can write to console
  README.md
Due: none

boxpe
  .github/workflows/deb.yml
  .packaging/debian11/qemu/DEBIAN/control
  .packaging/debian12/qemu/DEBIAN/control
  .packaging/ubuntu2204/boxpe/DEBIAN/control
  .packaging/ubuntu2204/boxpe/DEBIAN/triggers
  .packaging/ubuntu2204/boxpe/Dockerfile
  .packaging/ubuntu2204/fexpe/DEBIAN/control
  .packaging/ubuntu2204/qemu/DEBIAN/control
  .packaging/ubuntu2404/qemu/DEBIAN/control
  .packaging/ubuntu2410/qemu/DEBIAN/control
Due: none

.packaging: Build box64cpu as a separate package
  .github/workflows/deb.yml
  .packaging/debian11/qemu/DEBIAN/control
  .packaging/debian12/qemu/DEBIAN/control
  .packaging/ubuntu2204/boxpe/DEBIAN/control
  .packaging/ubuntu2204/boxpe/DEBIAN/triggers
  .packaging/ubuntu2204/boxpe/Dockerfile
  .packaging/ubuntu2204/fexpe/DEBIAN/control
  .packaging/ubuntu2204/qemu/DEBIAN/control
  .packaging/ubuntu2404/qemu/DEBIAN/control
  .packaging/ubuntu2410/qemu/DEBIAN/control
Due: none

.packaging: Build Wine with ARM64EC support
  .packaging/debian11/Dockerfile
  .packaging/debian11/wine/Dockerfile
  .packaging/debian11/wine/debian/control
  .packaging/debian11/wine/debian/rules
  .packaging/debian12/Dockerfile
  .packaging/debian12/wine/Dockerfile
  .packaging/debian12/wine/debian/control
  .packaging/debian12/wine/debian/rules
  .packaging/ubuntu2204/Dockerfile
  .packaging/ubuntu2204/wine/Dockerfile
  .packaging/ubuntu2204/wine/debian/control
  .packaging/ubuntu2204/wine/debian/rules
  .packaging/ubuntu2404/Dockerfile
  .packaging/ubuntu2404/wine/Dockerfile
  .packaging/ubuntu2404/wine/debian/control
  .packaging/ubuntu2404/wine/debian/rules
  .packaging/ubuntu2410/Dockerfile
  .packaging/ubuntu2410/wine/Dockerfile
  .packaging/ubuntu2410/wine/debian/control
  .packaging/ubuntu2410/wine/debian/rules
Due: debian11_foundation, debian12_foundation

.github: Add Ubuntu 20.04 build
  .github/workflows/deb.yml
  .packaging/ubuntu2004/Dockerfile
  .packaging/ubuntu2004/qemu/DEBIAN/control
  .packaging/ubuntu2004/qemu/DEBIAN/copyright
  .packaging/ubuntu2004/qemu/DEBIAN/triggers
  .packaging/ubuntu2004/qemu/Dockerfile
  .packaging/ubuntu2004/wine/Dockerfile
  .packaging/ubuntu2004/wine/debian/changelog
  .packaging/ubuntu2004/wine/debian/compat
  .packaging/ubuntu2004/wine/debian/control
  .packaging/ubuntu2004/wine/debian/copyright
  .packaging/ubuntu2004/wine/debian/rules
  .packaging/ubuntu2004/wine/debian/source/format
Due: none

.packaging: Build Hangover Wine 9.20 with ARM64EC support
  .gitmodules
  .packaging/debian11/Dockerfile
  .packaging/debian11/wine/Dockerfile
  .packaging/debian11/wine/debian/control
  .packaging/debian11/wine/debian/rules
  .packaging/debian12/Dockerfile
  .packaging/debian12/wine/Dockerfile
  .packaging/debian12/wine/debian/control
  .packaging/debian12/wine/debian/rules
  .packaging/ubuntu2204/Dockerfile
  .packaging/ubuntu2204/wine/Dockerfile
  .packaging/ubuntu2204/wine/debian/control
  .packaging/ubuntu2204/wine/debian/rules
  .packaging/ubuntu2404/Dockerfile
  .packaging/ubuntu2404/wine/Dockerfile
  .packaging/ubuntu2404/wine/debian/control
  .packaging/ubuntu2404/wine/debian/rules
  .packaging/ubuntu2410/Dockerfile
  .packaging/ubuntu2410/wine/Dockerfile
  .packaging/ubuntu2410/wine/debian/control
  .packaging/ubuntu2410/wine/debian/rules
Due: debian11_foundation, debian12_foundation

README.md: Update regarding the x86_64 emulation support
  README.md
Due: none

.packaging: Add libarm64ecfex for x86_64 emulation
  .github/workflows/deb.yml
  .gitmodules
  .packaging/debian11/Dockerfile
  .packaging/debian12/Dockerfile
  .packaging/ubuntu2004/Dockerfile
  .packaging/ubuntu2204/fexpe/Dockerfile
  .packaging/ubuntu2204/fexpeec/DEBIAN/control
  .packaging/ubuntu2204/fexpeec/DEBIAN/triggers
  .packaging/ubuntu2204/fexpeec/Dockerfile
  .packaging/ubuntu2404/Dockerfile
  .packaging/ubuntu2410/Dockerfile
Due: debian11_foundation, debian12_foundation

docs: Update build instructions for x86_64 emulation support
  docs/COMPILE.md
Due: none

.packaging: Don't build box64cpu as a separate package
  .github/workflows/deb.yml
  .packaging/debian11/wine/debian/control
  .packaging/debian12/wine/debian/control
  .packaging/ubuntu2004/wine/debian/control
  .packaging/ubuntu2204/Dockerfile
  .packaging/ubuntu2204/boxpe/DEBIAN/control
  .packaging/ubuntu2204/boxpe/DEBIAN/triggers
  .packaging/ubuntu2204/boxpe/Dockerfile
  .packaging/ubuntu2204/wine/debian/control
  .packaging/ubuntu2404/wine/debian/control
  .packaging/ubuntu2410/wine/debian/control
Due: none

.packaging: Add DXVK binaries for ARM64 and ARM64EC
  .github/workflows/deb.yml
  .packaging/ubuntu2204/Dockerfile
  .packaging/ubuntu2204/dxvk/Dockerfile
Due: none

.packaging: Avoid zstd when building packages for all distributions
  .packaging/ubuntu2204/fexpe/Dockerfile
  .packaging/ubuntu2204/fexpeec/Dockerfile
Due: none

README.md: Add instructions for DXVK
  README.md
Due: none

trixie
  .github/workflows/deb.yml
  .packaging/debian13/Dockerfile
  .packaging/debian13/qemu/DEBIAN/control
  .packaging/debian13/qemu/DEBIAN/copyright
  .packaging/debian13/qemu/DEBIAN/triggers
  .packaging/debian13/qemu/Dockerfile
  .packaging/debian13/wine/Dockerfile
  .packaging/debian13/wine/debian/changelog
  .packaging/debian13/wine/debian/compat
  .packaging/debian13/wine/debian/control
  .packaging/debian13/wine/debian/copyright
  .packaging/debian13/wine/debian/rules
  .packaging/debian13/wine/debian/source/format
Due: none

new llvm-mingw
  .packaging/debian11/Dockerfile
  .packaging/debian11/wine/Dockerfile
  .packaging/debian11/wine/debian/rules
  .packaging/debian12/Dockerfile
  .packaging/debian12/wine/Dockerfile
  .packaging/debian12/wine/debian/rules
  .packaging/ubuntu2004/Dockerfile
  .packaging/ubuntu2004/wine/Dockerfile
  .packaging/ubuntu2004/wine/debian/rules
  .packaging/ubuntu2204/Dockerfile
  .packaging/ubuntu2204/dxvk/Dockerfile
  .packaging/ubuntu2204/fexpe/Dockerfile
  .packaging/ubuntu2204/fexpeec/Dockerfile
  .packaging/ubuntu2204/wine/Dockerfile
  .packaging/ubuntu2204/wine/debian/rules
  .packaging/ubuntu2404/Dockerfile
  .packaging/ubuntu2404/wine/Dockerfile
  .packaging/ubuntu2404/wine/debian/rules
  .packaging/ubuntu2410/Dockerfile
  .packaging/ubuntu2410/wine/Dockerfile
  .packaging/ubuntu2410/wine/debian/rules
Due: debian11_foundation, debian12_foundation

.github: Add workflow to build packages for Debian 13
  .github/workflows/deb.yml
  .packaging/debian11/Dockerfile
  .packaging/debian13/Dockerfile
  .packaging/debian13/qemu/DEBIAN/control
  .packaging/debian13/qemu/DEBIAN/copyright
  .packaging/debian13/qemu/DEBIAN/triggers
  .packaging/debian13/qemu/Dockerfile
  .packaging/debian13/wine/Dockerfile
  .packaging/debian13/wine/debian/changelog
  .packaging/debian13/wine/debian/compat
  .packaging/debian13/wine/debian/control
  .packaging/debian13/wine/debian/copyright
  .packaging/debian13/wine/debian/rules
  .packaging/debian13/wine/debian/source/format
  .packaging/ubuntu2004/Dockerfile
  .packaging/ubuntu2204/Dockerfile
Due: debian11_foundation

README.md: Mention Debian 13
  README.md
Due: none

.packaging: Our FEX packages conflict with fex-emu-wine packages
  .packaging/ubuntu2204/fexpe/DEBIAN/control
  .packaging/ubuntu2204/fexpeec/DEBIAN/control
Due: none

.packaging: Allow fex-emu-wine for hangover-wine
  .packaging/debian11/wine/debian/control
  .packaging/debian12/wine/debian/control
  .packaging/debian13/wine/debian/control
  .packaging/ubuntu2004/wine/debian/control
  .packaging/ubuntu2204/wine/debian/control
  .packaging/ubuntu2404/wine/debian/control
  .packaging/ubuntu2410/wine/debian/control
Due: none

Revert ".github: Add workflow to build packages for Debian 13"
  .github/workflows/deb.yml
  .packaging/debian11/Dockerfile
  .packaging/debian12/Dockerfile
  .packaging/debian13/Dockerfile
  .packaging/debian13/qemu/DEBIAN/control
  .packaging/debian13/qemu/DEBIAN/copyright
  .packaging/debian13/qemu/DEBIAN/triggers
  .packaging/debian13/qemu/Dockerfile
  .packaging/debian13/wine/Dockerfile
  .packaging/debian13/wine/debian/changelog
  .packaging/debian13/wine/debian/compat
  .packaging/debian13/wine/debian/control
  .packaging/debian13/wine/debian/copyright
  .packaging/debian13/wine/debian/rules
  .packaging/debian13/wine/debian/source/format
  .packaging/ubuntu2004/Dockerfile
  .packaging/ubuntu2204/Dockerfile
Due: debian11_foundation, debian12_foundation

Reapply ".github: Add workflow to build packages for Debian 13"
  .github/workflows/deb.yml
  .packaging/debian11/Dockerfile
  .packaging/debian13/Dockerfile
  .packaging/debian13/qemu/DEBIAN/control
  .packaging/debian13/qemu/DEBIAN/copyright
  .packaging/debian13/qemu/DEBIAN/triggers
  .packaging/debian13/qemu/Dockerfile
  .packaging/debian13/wine/Dockerfile
  .packaging/debian13/wine/debian/changelog
  .packaging/debian13/wine/debian/compat
  .packaging/debian13/wine/debian/control
  .packaging/debian13/wine/debian/copyright
  .packaging/debian13/wine/debian/rules
  .packaging/debian13/wine/debian/source/format
  .packaging/ubuntu2004/Dockerfile
  .packaging/ubuntu2204/Dockerfile
Due: debian11_foundation
